@font-face {
    font-family: PixelEmulator;
    src: url("./fonts/PixelEmulator.ttf");
}

* {
    box-sizing: border-box !important;
}

body {
    background-color: #d90429;
    font-family: PixelEmulator;
    color: white;
    min-width: 275px;
    line-height: normal;
    position: relative;
    overflow: overlay;
}

h1 {
    margin: 0 !important;
}

#blur {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    padding: 0 10px 0 10px;
}

header {
    padding: 10px 10px 0 10px;
}

header nav {
    background-color: #d90429;
    box-shadow: none;
}

.dropdown-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dropdown-content span {
    display: flex !important;
    align-items: center;
    gap: 10px;
}

.en {
    color: #02649E !important;
}

.pt-br {
    color: #38B000 !important;
}

.timer-container {
    width: 60%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    background-color: #ef233c;
    border: 5px solid #000000;
    display: flex;
    flex-direction: column;
}

@media (orientation: portrait) {
    .timer-container {
        width: 98%;
    }
}

.timer-container p {
    display: flex;
    justify-content: center;
}

.timer-container button, .message-pop-up button:last-child {
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    font-family: PixelEmulator;
}

.message-pop-up button:last-child {
    background-color: #43aa8b;
    color: #FFF;
    font-size: 2em;
}

.message-pop-up button:last-child:hover {
    background-color: #3c967b;
}

#blur.active {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

.pop-up {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 40px;
    box-shadow: 0 2px 10px black;
    background-color: #90be6d;
    visibility: hidden;
    opacity: 0;
}

.pop-up.active {
    visibility: visible;
    opacity: 1;
    top: 50%;
}

.message-pop-up {
    top: 40%;
    min-width: 40%;
    width: fit-content;
    padding: 30px;
    box-shadow: 0 2px 10px black;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.message-pop-up hr, .message-pop-up .bar {
    width: 100%;
}

.message-pop-up iframe {
    margin: 5% 0;
}

.message-pop-up h4 {
    font-size: 1.9rem;
}

#button-close-3 {
    align-self: end;
    margin: 0;
}

.settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.language-settings {
    background-color: #43aa8b !important;
    border: 2px solid black !important;
    box-shadow: none !important;
    width: 100%;
    padding: 10px;
    margin-right: 11px;

    display: flex !important;
    justify-content: space-between;
}

label span {
    display: inline !important;
}

.subpage {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: justify;
    word-wrap: break-word;
}

.subpage li {
    all: revert !important;
    margin: 14px 0 !important;
}

.subpage ul {
    all: revert !important;
    padding-left: 15px !important;
}

.subpage ol {
    all: revert !important;
    padding-left: 25px !important;
}

.subpage-content {
    padding: 3%;
    width: 100%;
}

.subpage-content h1 {
    font-size: 3.0rem !important;
}

.subpage a {
    color: #FFF !important;
    text-decoration: underline;
}

.subpage a:hover {
    color: #90be6d !important;
}

.ads-landscape {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    gap: 5%;
}

.ads-portrait {
    display: none;
}

.ads-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#responsive-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 25px;
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-top: 2.5%;
}

#responsive-bar.active {
    justify-content: center;
}

@media(orientation:portrait) {
    #responsive-bar {
        visibility: visible;
    }

    .subpage {
        display: flex;
    }

    .subpage-content {
        padding: 0;
    }

    .ads-landscape {
        display: none;
    }

    .ads-portrait {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
    }
}

#responsive-menu {
    background-color: #43aa8b;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: absolute;
    width: 60%;
    right: -300px;
    top: 2%;
    display: none;
}

#responsive-menu.active {
    right: -8px;
    display: block;
}

#responsive-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

#responsive-menu li {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 5%;
    cursor: pointer;
}

.responsive-buttons {
    text-decoration: none;
    display: flex;
}

span {
    color: white;
}

.icons {
    margin-right: 25px;
}

.icon-about {
    margin-left: 6px;
    margin-right: 32px;
}

.icon-terms {
    margin-right: 23px;
}

#hr1 {
    transition: 0.5s;
}

#hr1.active {
    transition: 0.5s;
    transform: rotate(45deg);
}

#hr2 {
    transition: 0.5s;
}

#hr2.active {
    transition: 0.5s;
    transform: rotate(-45deg);
}

#hr3 {
    transition: 0.5s;
}

#hr3.active {
    transition: 0.5s;
    opacity: 0;
    transform: rotate(-45deg);
}

button {
    background-color: #90be6d;
    cursor: pointer;
    font-family: PixelEmulator;
}

button:hover {
    background-color: #43aa8b;
}

.blocked {
    pointer-events: none;
    user-select: none;
}

.menu {
    position: relative;
    padding-top: 5px;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
}

.menu-bar h1 {
    font-size: 3.13vw;
}

.menu-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu h1 {
    text-align: left;
}

.header {
    display: flex;
    align-items: center;
    color: #FFF;
    width: min-content;
    padding: 11.5px 0;
}

.header, .header h1 {
    font-size: 2.1rem;
}

.header img {
    height: 48px;
    margin-right: 10px;
}

hr {
    background-color: white;
    height: 2px !important;
    border: none;
    margin: 0;
}

#button-settings {
    font-size: 25px;
    border: none;
    background: none;
}

#button-bible {
    font-size: 25px;
    border: none;
    background: none;
}

.buttons {
    font-size: 25px;
    text-decoration: none;
    padding-left: 6px;
}

.bar {
    display: flex;
    justify-content: space-between;
}

.button-close {
    width: 40px;
    height: 40px;
    margin: auto;
    margin-right: 0;
}

#input-time input {
    font-family: PixelEmulator;
    background-color: #43aa8b;
    color: white;
    border: 2px solid black;
    outline: none;
    width: 100%;
    padding: 10px;
    margin-right: 11px;
    height: auto;
}

#input-time {
    padding-top: 25px;
}

.timer {
    font-size: 9.77vw;
}

@media (max-width: 480px) {
    .pop-up {
        width: 100%;
        height: 100%;
    }

    .timer {
        font-size: 16vw;
    }

    .settings {
        grid-template-columns: 1fr;
    }

    .tasks {
        min-height: min-content !important;
    }

    .responsive-nav ion-icon {
        display: inline !important;
    }
}

.brand-logo {
    position: relative !important;
}

.responsive-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.sidenav-trigger {
    display: flex;
    align-self: center;

    height: 2.5rem !important;
    font-size: 2.5rem;
    margin: 0 !important;
}

.title-tasks {
    text-align: center;
}

.title-tasks h5 {
    margin: 20px;
}

.tasks {
    margin-top: 2%;
    position: relative;

    display: grid;
    grid-template-columns: 8fr 1fr 8fr;
}

.add-tasks {
    display: flex;
    margin-bottom: 3%;
}

.counter {
    background-color: #90be6d;
    border: 2px solid black;
    padding: 10px;
    outline: none;
    height: min-content;
}

#input-new-task {
    font-family: PixelEmulator;
    height: auto;
    background-color: #90be6d;
    color: white;
    border: 2px solid black;
    outline: none;
    padding: 10px;
    width: 100%;
}

#input-new-task::placeholder {
    color: #ffffff44;
}

#button-new-task {
    width: 40px;
    height: 40px;
    justify-self: center;
    margin: 0 5px 0 5px;
}

#to-do-list-container {
    padding: 0;
    padding-bottom: 30px;

    display: grid;
    grid-template-columns: 8fr 9fr;
    min-height: 100vh;
}

#to-do-list li {
    background-color: #90be6d;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;
    word-break: break-word;
    align-items: center;
}

@media (max-width: 480px) {
    #to-do-list-container {
        grid-template-columns: 1fr;
    }

    #anuncio {
        width: auto;
    }
}

.button-action {
    width: 38px;
    height: 38px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: auto;
}

.p1 {
    margin-bottom: 5%;
}

.p2 {
    margin-bottom: 5%;
}

.references {
    position: absolute;
    right: 0;
}

.page-footer {
    background-color: #90be6d !important;
    border-top: 2px solid black;
}

.footer-copyright {
    border-top: 2px solid black;
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    justify-content: space-around;
}

.contacts a {
    display: inline-flex;
    gap: 5px;
}

.contacts ion-icon {
    font-size: large;
}

audio::-webkit-media-controls-enclosure {
    background-color: #43aa8b;
}

audio::-webkit-media-controls-current-time-display {
    font-family: PixelEmulator;
}

audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

audio {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 11px;
    background-color: #43aa8b;
    border: 2px solid black;
}

#to-do-list iframe {
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #90be6d;
    border: 2px solid #000000;
}

:root {
    scroll-behavior: smooth;
}