@use '../sass-utils/variables';

.page-footer {
    a:hover {
        color: variables.$pixeldoro-red-light !important;
    }

    background-color: variables.$pixeldoro-green-light !important;
    border-top: 2px solid black;
}

.footer-copyright {
    border-top: 2px solid black;
}
