@use '../sass-utils/variables';

.page-footer {
    background-color: variables.$pixeldoro-green-light !important;
    border-top: 2px solid black;
    
    a:hover {
        color: variables.$pixeldoro-red-light !important;
    }
}

.contacts a {
    display: inline-flex;
    gap: 5px;
}

.footer-copyright {
    border-top: 2px solid black;

    .container {
        display: flex;
        justify-content: space-around;
    }
}
