@use '../sass-utils/variables';

header {
    padding: 10px 10px 0 10px;

    nav {
        background-color: variables.$pixeldoro-red-dark;
        box-shadow: none;
    }

    .dropdown-trigger {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .dropdown-content {
        span {
            display: flex !important;
            align-items: center;
            gap: 10px;
        }
    }
}

.responsive-nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    
    a:first-child {
        display: flex;
        align-items: center;
    }
    
    img {
        margin-right: 10px;
    }
}

.sidenav-trigger {
    display: flex;
    align-self: center;
    height: 2.5rem !important;
    margin: 0 !important;
}
