audio::-webkit-media-controls-enclosure {
    background-color: #43aa8b;
}

audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

audio {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #43aa8b;
    border: 2px solid black;
}
